.game {
  min-height: 37vh;
  display: flex;
  flex-direction: row;
}

.container {
  margin: 0px 13px;
  width: 33vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  margin-left: 50px;
  padding-left: 30px;
}

.computer {
  margin-right: 50px;
  padding-right: 30px;
}

.player button,
.computer button {
  width: 92px;
  height: 42px;
  padding: 5px 10px;
  margin: 10px 0px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  outline: none;
  border: 1px solid transparent;
  background-color: var(--ming);
  color: var(--alice-blue);
  cursor: pointer;
  font-size: medium;
  flex-wrap: wrap;
}

.player button:hover,
.computer button:hover {
  background-color: var(--alice-blue);
  border: 2px solid var(--ming);
  color: var(--ming);
}

.score span {
  font-size: xx-large;
  padding-top: 8px;
}

@keyframes enlarge {
  0% {
    background-color: var(--alice-blue);
    color: var(--ming);
    border: 1px solid var(--ming);
  }
  25% {
    transform: translate(0px, -7px);
    -webkit-transform: translate(0px, -7px);
    -moz-transform: translate(0px, -7px);
    -ms-transform: translate(0px, -7px);
    -o-transform: translate(0px, -7px);
    background-color: var(--alice-blue);
    color: var(--ming);
    border: 1px solid var(--ming);
  }

  50% {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    background-color: var(--alice-blue);
    color: var(--ming);
    border: 1px solid var(--ming);
  }

  100% {
    transform: translateY(0px, 7px);
    -webkit-transform: translateY(0px, 7px);
    -moz-transform: translateY(0px, 7px);
    -ms-transform: translateY(0px, 7px);
    -o-transform: translateY(0px, 7px);
    color: var(--alice-blue);
    background-color: var(--ming);
  }
}

.desp {
  min-height: 43vh;
}
